<div class="article-detail">
  <div class="article-detail-header">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="article-title"><%= @article.title %></h1>
      <% if @article.user == current_user %>
        <%= render "shared/article_action_menu", article: @article %>
      <% end %>
    </div>
    <div class="article-meta">
      <div class="author-info">
        <% if @article.user.avatar.attached? %>
          <%= image_tag @article.user.avatar, class: "author-avatar", alt: "#{@article.user.username}'s avatar" %>
        <% else %>
          <%= image_tag Settings.default_avatar, class: "author-avatar", alt: "Default avatar" %>
        <% end %>
        <div class="author-details">
          <h5><%= link_to @article.user.username, profile_path(@article.user) %></h5>
          <div class="text-muted">
            <%= bootstrap_icon "clock", height: Settings.default.view.edit_profile.icon_size %>
            <%= t "common.updated_ago", time_ago: time_ago_in_words(@article.updated_at) %>
          </div>
        </div>
      </div>
    </div>

    <div class="article-detail-actions">
      <div class="position-relative d-inline-block">
        <% if user_signed_in? %>
          <%= render "shared/like_form", article: article %>
        <% else %>
          <%= link_to new_user_session_path, class: "action-btn" do %>
            <%= bootstrap_icon "heart", height: Settings.default.view.edit_profile.icon_size %>
            <span><%= article.like_count %></span>
          <% end %>
        <% end %>
        <button class="view-details-button" data-bs-toggle="modal" data-bs-target="#likedUsersModal" aria-label="Show liked users">
          <%= t("common.detail") %>
        </button>
      </div>
      <button class="action-btn">
        <%= bootstrap_icon "share", height: Settings.default.view.edit_profile.icon_size %>
        <span><%= t "common.share" %></span>
      </button>
    </div>
  </div>

  <div class="article-content">
    <%= @article.content %>
  </div>
</div>

<%= render "shared/liked_user_list", article: @article %>
