<div class="col-9 mb-4">
  <%= link_to :back, class: "return-btn" do %>
    <%= bootstrap_icon "arrow-left", height: Settings.default.view.edit_profile.icon_size %>
    <span><%= t "common.back" %></span>
  <% end %>
  <%= render @article %>
    <div class="comments-section">
    <div id="comments">
      <h2><%= t ".comments"  %></h2>
      <div class="comments-list">
        <%= render @comments %>
      </div>
    </div>
    <% if current_user %>
      <%= render "comments/form" %>
    <% else %>
      <p><%= t ".login_to_comment" %></p>
    <% end %>
  </div>
</div>
