<div class="article-card">
  <div class="article-header">
    <div class="author-info">
      <% if article.user.avatar.attached? && article.user.avatar.blob.persisted? %>
        <%= image_tag article.user.avatar, class: "author-avatar", alt: "#{article.user.username}'s avatar" %>
      <% else %>
        <%= image_tag Settings.default_avatar, class: "author-avatar", alt: "Default avatar" %>
      <% end %>
      <div class="author-details">
        <%= link_to article.user.username, profile_path(article.user), class: "author-name" %>
        <div class="article-timestamp">
          <i class="fas fa-clock"></i>
          <%= t "common.updated_ago", time_ago: time_ago_in_words(article.updated_at) %>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center gap-2">
      <% if article.updated_at > 1.day.ago %>
        <span class="updated-indicator"><%= t "articles.recently_updated" %></span>
      <% end %>
      <% if article.user == current_user %>
        <%= render "shared/article_action_menu", article: article %>
      <% end %>
    </div>
  </div>

  <h2 class="article-title">
    <%= link_to article.title, article_path(article), style: "text-decoration: none; color: inherit;" %>
  </h2>

  <div class="content-preview">
    <div class="article-content">
      <%= article.content %>
    </div>
    <% if article.content.persisted? %>
      <div class="content-fade"></div>
    <% end %>
  </div>

  <div class="article-actions">
    <div class="action-buttons">
      <% if user_signed_in? %>
        <%= render "shared/like_form", article: article %>
      <% else %>
        <%= link_to new_user_session_path, class: "action-btn" do %>
          <%= bootstrap_icon "heart", height: Settings.default.view.edit_profile.icon_size %>
          <span><%= article.like_count %></span>
        <% end %>
      <% end %>
      <button class="action-btn">
        <%= bootstrap_icon "chat-dots", height: Settings.default.view.edit_profile.icon_size %>
        <span><%= article.comments.size %></span>
      </button>
      <button class="action-btn">
        <%= bootstrap_icon "share", height: Settings.default.view.edit_profile.icon_size %>
        <span><%= t "common.share" %></span>
      </button>
    </div>
    <%= link_to article_path(article), class: "read-more-btn" do %>
      <%= t "common.read_more" %>
      <%= bootstrap_icon "arrow-right", height: Settings.default.view.edit_profile.icon_size %>
    <% end %>
  </div>

</div>
