<% content_for :title, @user.username %>
<%= render "profile_header" %>

<div class="main-content">
  <div class="profile-info">
    <div class="info-section">
        <h3 class="info-title">
            <%= bootstrap_icon "info-circle", height: Settings.default.view.edit_profile.icon_size %>
            <%= t ".personal_info" %>
        </h3>
        <% if @user.phone_number.present? %>
            <div class="info-item">
                <%= bootstrap_icon "telephone-fill", height: Settings.default.view.edit_profile.icon_size %>
                <span class="info-label"> <%= t ".phone" %>:</span>
                <span class="info-value"><%= @user.phone_number %></span>
            </div>
        <% end %>
        <% if @user.address.present? %>
            <div class="info-item">
                <%= bootstrap_icon "house", height: Settings.default.view.edit_profile.icon_size %>
                <span class="info-label"> <%= t ".address" %>:</span>
                <span class="info-value"><%= @user.address %></span>
            </div>
        <% end %>
        <% if @user.date_of_birth.present? %>
            <div class="info-item">
                <%= bootstrap_icon "cake", height: Settings.default.view.edit_profile.icon_size %>
                <span class="info-label"><%= t ".birthday" %>:</span>
                <span class="info-value"><%= l @user.date_of_birth, format: "%B %d, %Y" %></span>
            </div>
        <% end %>
    </div>

    <% if @user.bio.present? %>
        <div class="info-section">
            <h3 class="info-title">
                <i class="fas fa-quote-left"></i>
                <%= t ".about_me" %>
            </h3>
            <div class="bio-text">
                <%= @user.bio %>
            </div>
        </div>
    <% end %>
    <% if @user == current_user %>
      <div class="d-flex justify-content-center">
        <%= link_to edit_user_registration_path, class: "btn btn-primary" do %>
          <%= bootstrap_icon "pencil-square", height: Settings.default.view.edit_profile.icon_size %>
          <span><%= t "common.edit" %></span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <% if @user == current_user %>
        <%= render partial: "articles/form", locals: {article: @article}  %>
    <% end %>
    <div class="articles-list">
      <% if @user.articles.any? %>
        <%= render partial:"shared/article_card", collection: @user.articles, as: :article %>
      <% else %>
        <p class="text-center"><%= t ".no_articles" %></p>
      <% end %>
  </div>
</div>
